.header__container__button {
  background-color: #3d3c96;
  border: none;
  color: white;
  padding: 16px 64px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.2;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Turret Road", cursive;
}

.header__container__button:hover {
  opacity: 1;
}
