section {
  font-family: "Quicksand", sans-serif;
  background: rgba(255, 255, 255, 0.688);
  margin: 30px 0;
}
section h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: auto;
}
.section__about-me {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.section__about-me__photo {
  width: 400px;
  margin: auto;
  height: 400px;
  border-radius: 200px;
  background: url("../../assets/photo2.jpg");
  background-size: 100%;
}
.section__about-me__information {
  width: 724px;
  margin: auto;
}
.section__about-me__information h4 {
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
}

.section__skills {
  height: 600px;
}
.section__skills_background {
  position: absolute;
  width: 900px;
  height: 600px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
#backgroundCSS3 {
  background: url("../../assets/section__skills/CSS3.png") no-repeat;
}
#backgroundHTML5 {
  background: url("../../assets/section__skills/HTML5.png") no-repeat;
}
#backgroundJS {
  background: url("../../assets/section__skills/JS.png") no-repeat;
}
#backgroundGit {
  background: url("../../assets/section__skills/Git.png") no-repeat;
}
#backgroundESLint {
  background: url("../../assets/section__skills/ESLint.png") no-repeat;
}
#backgroundTeamwork {
  background: url("../../assets/section__skills/Teamwork.png") no-repeat;
}
#backgroundBEM {
  background: url("../../assets/section__skills/BEM.png") no-repeat;
}
#backgroundReact {
  background: url("../../assets/section__skills/React.png") no-repeat;
}

.section__skills__container {
  width: 900px;
  margin: auto;
  display: grid;
  grid-template: "a b";
}
.skill {
  padding: 0px;
  margin: 0px;
  height: auto;
  background: none;
  border: 1px solid red;
}
.section__education {
  height: 350px;
}
.section__education__container {
  display: grid;
  grid-template-columns: 45% 55%;
}
.logo {
  margin: auto;
}
.logo:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.bsu-logo {
  background: url("../../assets/section__education/bsu1.png") no-repeat;
  width: 500px;
  height: 200px;
  background-size: 100%;
}
.rs-logo {
  background: url("../../assets/section__education/logo-rs.svg") no-repeat;
  width: 300px;
  height: 270px;
  background-size: 100%;
}
.section__my-projects {
}
.section__english-level {
}
.section__contacts {
}
