#back {
  height: 1px;
  overflow: hidden;
  position: relative;
}
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1250px;
  position: fixed;
  z-index: -1;
}
.layer-01 {
  background-image: url("././assets/background.png");
}

@media screen and (max-width: 1400px) {
  .layer {
    height: 1200px;
  }
}
@media (max-width: 768px) {
  body,
  head {
    margin: auto;
    color: rgb(255, 255, 255);
  }

  .layer {
    width: 768px;
  }
  .header__container__info {
    margin-top: 300px;
  }
  .header__container__button {
    padding: 16px 40px;
  }
  .header__container__buttons {
    width: 768px;
  }
  .header__container__info {
    height: 700px;
    width: 768px;
  }
  .header {
    width: 768px;
    height: 1024px;
  }
  .layer {
    background: none;
  }
  .App {
    background: url("./assets/background-tablet.png") no-repeat;
    background-size: cover;
  }
  .section__education {
    height: 1080px;
  }
  .rs-logo {
    margin-right: 33%;
  }
  .rs-text {
    margin-top: 40px;
  }
  .section__education__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section__my-projects__container {
    width: 768px;
  }
  .project__piskel,
  .project__bcj {
    width: 384px;
  }
  .section__contacts__container {
    display: flex;
  }
  .calendar {
    display: none;
  }
  .footer {
    background: none;
  }
  .header__container__info a {
    color: rgb(255, 255, 255) !important;
  }
  .header__container {
    width: 768px;
  }
  .section__about-me__information h4 {
    font-size: 1.3rem;
  }
  .section__about-me__information {
    width: 400px;
  }
  .section__about-me__photo {
    width: 300px;
    height: 300px;
  }
  .skill {
    width: 354px;
  }
  .section__skills__container {
    width: 768px;
  }
  .section__skills_background {
    width: 768px;
  }
}

@media (max-width: 375px) {
  .layer {
    width: 375px;
  }
  .header__container__buttons {
    position: initial;
  }
  .header__container__info {
    margin-top: 140px;
  }
  .header__container__button {
    padding: 2px 0px;
    width: 100%;
  }
  .header__container__buttons {
    width: 375px;
  }
  .header__container__info {
    height: 700px;
    width: 375px;
  }
  .header {
    width: 375px;
    height: 800px;
  }
  .layer {
    background: none;
  }
  .App {
    background: url("./assets/background-tablet.png") no-repeat;
    background-size: cover;
  }
  .section__education {
    height: 1080px;
  }
  .rs-logo {
    margin-right: 33%;
  }
  .rs-text {
    margin-top: 40px;
  }
  .section__about-me__container {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
  }
  .section__about-me,
  .section__skills,
  .section__my-projects {
    height: 100%;
  }
  .section__education__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section__my-projects__container {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .project__piskel,
  .project__bcj {
    width: 375px;
  }
  .section__my-projects__piskel,
  .section__my-projects__bcj {
    width: 375px;
  }
  .section__contacts__container {
    display: flex;
  }
  .calendar {
    display: none;
  }
  .footer {
    background: none;
    padding: 0px;
  }
  .header__container__info a {
    color: rgb(255, 255, 255) !important;
  }
  .header__container {
    width: 375px;
  }
  .section__about-me__information h4 {
    font-size: 1.3rem;
  }
  .section__about-me__information {
    width: 400px;
  }
  .section__about-me__photo {
    width: 300px;
    height: 300px;
  }
  .skill {
    width: 354px;
  }
  .section__skills__container {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .section__skills_background {
    width: 375px;
  }
  .bsu-logo {
    width: 375px;
    margin: 0px;
  }
  .clock {
    display: none;
  }
  .english-text,
  .rs-text,
  .bsu-text {
    width: 375px;
  }
}
