#back {
  height: 1px;
  overflow: hidden;
  position: relative;
}
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1250px;
  position: fixed;
  z-index: -1;
}
.layer-01 {
  background-image: url("././assets/background.png");
}

@media screen and (max-width: 1400px) {
  .layer {
    height: 1200px;
  }
}
@media (max-width: 768px) {
  * {
    color: red;
  }
  body,
  head {
    margin: auto;
  }
  #back {
    width: 768px;
    overflow: hidden;
  }
  .layer {
    width: 768px;
  }
  .header__container__button {
    padding: 16px auto;
  }
  .header__container {
    width: 768px;
  }
  .header__container__buttons {
    width: 768px;
  }
  .header__container__info {
    height: 700px;
    width: 768px;
  }
  .header {
    height: 700px;
    width: 768px;
  }
}
