#hero {
  height: 1px;
  overflow: hidden;
  position: relative;
}
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  position: fixed;
  z-index: -1;
}
.layer-01 {
  background-image: url("././assets/man-1209957_1920_copy.jpg");
}
